<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="jumbotron text-center">
    <div class="container">
      <a href="/" class="lang-logo">
        <img src="http://www.watsonink.com/assets/img/logo-500.png">
      </a>
      <h1>Sample React Site</h1>
      <p>This is my sandbox</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12"></div>
    </div>
  </div>
</body>
</html>
