:root {
  --input-height: 56px;
  --input-element-height: 55px;
}
div.wrapper {
}

div.inputAdd {
  margin: 0;
  height: var(--input-height);
  border-bottom: 1px solid rgb(230, 230, 230);
  box-shadow: inset 0px -5.5px 8px -8px rgba(204, 204, 204, 1);
  background: rgba(69, 188, 87, 0.22);
}

div.inputEdit {
  margin: 0;
  height: var(--input-height);
  border-bottom: 1px solid rgb(230, 230, 230);
  box-shadow: inset 0px -5.5px 8px -8px rgba(204, 204, 204, 1);
  background: rgba(188, 69, 69, 0.22);
}

div.inputAdd {
  margin-bottom: 20px;
}

span.caret {
  line-height: var(--input-element-height);
  float: left;
  height: 40px;
  margin: 7px 0 5.5px 3px;
  /*content: inline('./../../assets/caret.png');*/
}

span.green {
  content: inline('./../../assets/caret.png');
}

span.red {
  content: inline('./../../assets/caret-red.png');
}

span.rotate {
  -ms-transform: rotate(270deg); /* IE 9 */
  -webkit-transform: rotate(270deg); /* Safari */
  transform: rotate(270deg);
}

span.spacer {
  height: var(--input-element-height);
  float: left;
  width: 43px;
  box-shadow: inset 0px -5.5px 8px -8px rgba(204, 204, 204, 1);
}

input.text {
  float: left;
  height: var(--input-element-height);
  width: 80%;
  margin: 0 20px 0 10px;
  padding-left: 20px;
  outline: none;
  border: none;
  color: rgb(89, 89, 89);
  text-align: left;
  font-size: 20px;
  box-shadow: inset 0px -5.5px 8px -8px rgba(204, 204, 204, 1);
  background: rgba(255, 255, 255, 0);
}

input.text::-webkit-input-placeholder {
  font-style: italic;
  color: rgba(89, 89, 89, 0.85)
}

span.filterCancel {
  margin: 8px 11px 0px 3px;
  padding: 4px 6px;
  cursor: pointer;
  -webkit-transition: all .1s;
  transition: all .1s;
  border: 1px solid rgb(255, 255, 255);
  float: right;
  color: rgba(173, 89, 89, 0.44);
  background: rgb(255, 255, 255);
}
