<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="/test"><span class="glyphicon glyphicon-record"></span> Test</a>
      </li>
      <li>
        <a href="/todos"><span class="glyphicon glyphicon-tasks"></span> ToDo's</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Getting Started Guides <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="https://dashboard.heroku.com/apps">APPS</a></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs#set-up">Getting Started on Heroku with Node.js</a></li>
            <li><a href="http://revelry.media/tech-talk/2016/2/15/getting-a-simple-react-app-on-heroku">Getting Started with PHP on Heroku</a></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-python">GETTING A SIMPLE REACT APP ON HEROKU</a></li>
            <li><a href="https://devcenter.heroku.com/articles/heroku-local">Heroku Local</a></li>
            <li><a href="https://devcenter.heroku.com/articles/using-the-cli">CLI Usage</a></li>
            <li><a href="https://devcenter.heroku.com/articles/nodejs-support#specifying-a-node-js-version">Specifying a Node.js Version</a></li>
            <li><a href="https://devcenter.heroku.com/articles/heroku-local#add-a-config-var-to-your-env-file">Add a config var to your .env file</a></li>
            <li><a href="https://devcenter.heroku.com/articles/config-vars">Configuration and Config Vars</a></li>
            <li class="divider"></li>
            <li><a href="https://git-scm.com/download/win">Downloading Git</a></li>
            <li><a href="https://github.com/coreybutler/nvm-windows">nvm-windows</a></li>
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="http://watsonink.com"><span class="glyphicon glyphicon-user"></span></span> WatsonInk</a>
      </li>
    </ul>
  </div>
</nav>
